span {
  display: inline-block;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

.fa-star {
  font-size: 24px; /* Tamaño de las estrellas */
  margin: 0 5px; /* Espacio entre las estrellas */
}

.active-star {
  color: #ffcd4d; /* Color de la estrella activa */
   padding: 3px; /* Espacio alrededor de la estrella activa */
}
