<div class="toolbar" role="banner">
  <a href="https://www.cavallaro.com.py">
    <img width="150" alt="Logo" src="../../../../assets/images/grupocavallaro3.png" />
  </a>
  <div class="text-center">
    <h1>{{ survey?.title }}</h1>
    <p>{{ survey?.description }}</p>
  </div>
</div>
<div class="card-body mt-5">

  <div class="d-flex justify-content-center align-items-center" *ngIf="mostrar; else surveyForm">
    <div class="text-center">
      <p class="display-4">Gracias por completar la encuesta.</p>
    </div>
  </div>

  <ng-template #surveyForm>

    <form #surveyForm="ngForm" *ngIf="survey">
      <div class="header">
      </div>
      <div class="container ">
        <br>
        <div class="error-message" *ngIf="!surveyForm.valid && surveyForm.submitted">
          Por favor, completa todas las preguntas obligatorias.
        </div>
        <div *ngFor="let question of questions; let i = index">
          <div class="col-9">
            <div class="mb-3">
              <label for="inputPregunta1" class="form-label">{{(i+1)}}.- {{ question.questionText }}<span
                  style="color:red;" *ngIf="question.obligatory">(*)</span></label>
            </div>
            <div class="mb-3">
              <!-- Respuesta corta, de texto -->
              <input type="text" class="form-control" id="INPUT" name="INPUT" *ngIf="question.questionType == 'INPUT'"
                [(ngModel)]="responses[i].response">


              <!-- Respuesta larga, de texto -->
              <textarea class="form-control" id="TEXTAREA" name="TEXTAREA" rows="2"
                *ngIf="question.questionType == 'TEXTAREA'" [(ngModel)]="responses[i].response"></textarea>

              <!-- Rango -->

              <app-loand-term-slider *ngIf="question.questionType == 'RANGE'" [initialValue]="1" [minValue]="1"
                [maxValue]="question.amount" (initialValueChange)="onSliderValueChange($event, i)"
                [obligatory]="question.obligatory">
              </app-loand-term-slider>



              <!-- Selección Múltiple, varias opciones -->
              <div *ngIf="question.questionType === 'CHECKBOX'">
                <div *ngFor="let ans of question.Choices; let h = index">
                  <label>
                    <input type="checkbox" [name]="'checkboxGroup'+i" class="form-check-input"
                      [checked]="responses[i].selectedChoices.includes(ans.codChoice)"
                      (change)="onCheckboxChange(i,ans.codChoice)">
                    {{ ans.choiceText }}
                  </label>
                </div>
              </div>

              <!-- Selección Única, una opción -->
              <div *ngIf="question.questionType == 'RADIOBUTTON' && question.Choices">
                <div class="form-check" *ngFor="let ans of question.Choices; let j = index">
                  <input class="form-check-input" type="radio" [name]="'radioGroup' + i"
                    [id]="'radio' + question.codQuestion + j" [value]="ans.codChoice" [(ngModel)]="responses[i].response"
                    [required]="question.obligatory">
                  <label class="form-check-label" [for]="'radio' + question.codQuestion + j">
                    {{ ans.choiceText }}
                  </label>
                </div>
              </div>

              <!-- Estrellas -->
              <app-custom-rating *ngIf="question.questionType == 'STARS'" [(rating)]="responses[i].response"
                [totalStars]="question.amount" (ratingChange)="onRatingChange()">
              </app-custom-rating>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-5">
        <button class="btn btn-success" type="button" role="button"[disabled]="!surveyForm.valid" (click)="submitSurvey()">
          <i class="fa fa-floppy-o"></i> Enviar
        </button>
      </div>
    </form>
  </ng-template>
</div>
